@charset "UTF-8";
@font-face {
    font-family: xilosa;
    src: url(fontes/xilosa_.ttf);
}

*{
    margin: 0%;
    padding: 0%;
}

@media (min-width: 200px) {
    header
{
    background-color: black;
    background-image: url(imagens/cordelart.png);
    background-repeat: no-repeat;
    background-size: 150px;
    
    background-position: center right;
    

    height: 150px;


}

@media (min-width: 1031px) {
    header
{
    
    background-color: black;
    background-image: url(imagens/cordelart.png);
    background-repeat: no-repeat;
    background-size: 230px;
    background-position-x: -18px;
    
    background-position: center right;
    

    height: 150px;

    

}}



header p{
    padding-top: 5px;
    text-align: center;
    color: white;
}

#link{
    color: aquamarine;
    text-decoration: none;
}

#link:hover{
    
    text-decoration: underline;
}

#link::after{
    color: aliceblue;
    content: '\1F517';
}

header h1{
    font-family: xilosa;
    font-size: max(2.0em, 3.5vw);
    text-align: center;
    padding-top: 45px;
    padding-right: 30px;
    color: aliceblue;
}}


main{
    padding: 10px;


}


section p{
    
    font-size: max(1.2em, 2vw);
    margin: 16px;
}

#img1{
    border-radius: 10px;
    color: aliceblue;
    padding: 15px;
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


footer{
    
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-color: black;
    text-align: center;
    padding: 5px;

}

footer p{
    
}


